body {
  margin: 0;
  text-align: center;
  background-size: cover;
}


.hero {
  background: #6943fe;
  color: white;
  padding: 30px;
  font-family: "Inter", sans-serif;
}


.main {
  background: #1f2937;
  padding: 30px;
}


.section {
  background: #273549;
  padding: 5px;
  color: white;
  font-family: "Inter", sans-serif;
}


h3 {
  color: #ccc1ff;
}


#input {
  width: 117px;
  height: 83px;
  top: 101px;
  left: 217px;
  border: 2px solid white;
  border-radius: 5px;
  border: 2px solid #b295ff;

  font-family: "Inter", sans-serif;
  font-size: 58px;
  font-weight: bolder;
  line-height: 24px;
  text-align: center;
  background: #6943ff;
  color: white;
}

::placeholder {
  color: white;
}


/*
button {
	width: 117px;
	height: 42px;
	top: 209px;
	left: 217px;
	padding: 9px 27.5px 9px 27.5px;
	border-radius: 5px;
	border: none;
	margin-top: 17px;

	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}


button:hover {
	background: lightgrey;
	color: white;
}
*/


button {
  position: relative;
  width: 117px;
  height: 42px;
  padding: 9px 27.5px;
  border-radius: 5px;
  border: none;
  margin-top: 17px;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


button:hover {
  transform: translateY(3px);
}


button::after,
button::before {
  border-radius: 5px;
}


#btn {
  background-color: white;
  color: darkblue;
}


#btn:hover {
  background: grey;
  box-shadow: none;
  color: white;
}


#btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid whitesmoke;
  transition: opacity 0.3s, border 0s;
}


#btn:hover::before {
  opacity: 0;
}


#btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid blue;
  opacity: 0;
  z-index: -1;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.3s, opacity 0s;
}


#btn:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
